html {
  height: 100%;
  /*width: 100%;*/
  margin-left: 200px;
  /*background-image: url(images/pinkstarsbackground.gif);*/
  background: #F6F3EE;
}

body {
  /*width: 90%;*/
  background-color: #3B2A21;
  font: 20px "Cinzel";
}

nav {
  width: 190;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #CBC7B7;
  overflow-x: hidden;
  padding: 8px 0;
}

h2 {
  font: 25px "Cinzel";
  color: white;
}

p {
  font: 15px "Fraunces";
  color: white;
}

a {
  text-decoration: none;
  font: 20px "Cinzel";
}

a:link {
  color: #3B2A21;
  margin: 10px;
}

a:visited {
  color: #a44613;
}

a:hover {
  background-color: white;
  color: black;
  font-size: 21px;
}

a:active {
  color: blue;
}

header {
  background-image: url(images/beachbanner.jpg);
  border-top: #8fa4ae;
  padding: 100px;
  text-align: center;
  font: bold 20px "Cinzel";
  color: white;
}

footer {
  margin-top: 20px;
  background: #CBC7B7;
  border-top: groove #b0ac9c;
  padding: 10px;
  text-align: center;
}

footer h2 {
  font: 25px "Cinzel";
  color: #3B2A21;
}

table, th, td {
  border: 5px solid #c7a38f;
  border-style: inset;
  border-collapse: collapse;
  font: 30px "Fraunces";
}

th {
  background-color: #b18b77;
}

td {
  background-color: #946951;
  padding: 8px;
  text-align: center;
}

td p {
  font: 20px "Fraunces";
}

table {
  margin: auto;
}

.left {
  margin-left: 300px;
}

.right {
  margin-left: 600px;
}

dl {
  padding: 20px;
}

dt {
  font: 50px "Cinzel";
  background: #ffffff;
}

dd {
  font: 20px "Fraunces";
  color: white;
}

/* Saved for later: https://www.canva.com/learn/website-color-schemes/ */