 html {
  height: 100%;
  /*width: 100%;*/
  margin-left: 350px;
  /*background-image: url(images/pinkstarsbackground.gif);*/
  background: #F6F3EE;
}

body {
  /*width: 90%;*/
  background-color: #3B2A21;
  font: 20px "Cinzel";
}

nav {
  width: 190;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #CBC7B7;
  overflow-x: hidden;
  padding: 8px 0;
  border: groove #b0ac9c;
  border-radius:5px;
}

#whiteh2 {
  color:white;
}

#homepics {
  text-align: center;
}

#box {
  border:2px solid #fff;
  border-radius:5px;
  box-shadow: 5px 10px #fff;
  padding: 5px;
}

h2 {
  font: 40px "Cinzel";
}

p {
  font: 30px "Fraunces";
  color: white;
}

a {
  text-decoration: none;
  font: 20px "Cinzel";
}

a:link {
  color: #3B2A21;
  margin: 10px;
}

a:visited {
  color: #a44613;
}

a:hover {
  background-color: white;
  color: black;
  font-size: 21px;
}

a:active {
  color: blue;
}

header {
  background-image: url(images/beachbanner.jpg);
  background-repeat: no-repeat;
  margin-top: -10px;
  background-size: 100%;
  border-top: #8fa4ae;
  padding-top: 0px;
  padding: 100px;
  text-align: center;
  font: bold 20px "Cinzel";
  color: white;
}

footer {
  margin-top: 20px;
  background: #CBC7B7;
  border-top: groove #b0ac9c;
  padding: 10px;
  text-align: center;

  position: fixed; 
  left: 0; bottom: 0; right: 0; 
}

footer h2 {
  font: 25px "Cinzel";
  color: #3B2A21;
}

#dancesbody {
  background-color: #e1ddd0;
}

#dancesbody.p {
  color: #000000ff;
}

#yearbody {
  background-color: #cfb5a7;
}

#summerbody {
  background-color: #e8ccae;
  text-align: center;
}

#clientbody {
  background-color: #f2e3d2;
}

table, th, td {
  border: 5px solid #c7a38f;
  border-style: inset;
  border-collapse: collapse;
  font: 30px "Fraunces";
}

th {
  background-color: #cdb5a7;
}

td {
  background-color: #946951;
  padding: 8px;
  text-align: center;
}

td p {
  font: 20px "Fraunces";
}

table {
  margin: auto;
}

#divpic {
 text-align: center; 
}

.left {
  margin-right: 600px;
  font: 30px "Fraunces";
  color: black;
}

.right {
  margin-left: 600px;
  font: 30px "Fraunces";
  color: black;
}

dl {
  padding: 20px;
}

dt {
  font: 50px "Cinzel";
  color: white;
  background: #3B2A21;
}

dd {
  font: 30px "Fraunces";
  color: black;
}

ul {
  list-style-image: url(images/heartsmaller.gif);
}

li {
  background: #deb4a9;
  padding: 2px;
  font: 30px "Fraunces";
}

img, video {
  border:5px solid #fff;
  border-radius:5px;
  padding: 5px;
}

#letter {
  margin: auto;
  background-color: white;
  width: 60%;
  padding: 40px;
  border:5px solid #000000;
  border-radius:5px;
}

#letterheader, #title, #paratitle, #subtitle, #regtext {
  color: black;
}

#letterheader {
  font: 20px "Fraunces";
}

#title {
  text-align: center;
  font: 35px "Fraunces";
}

#paratitle {
  text-align: left;
  font: 33px "Fraunces";
}

#subtitle {
  margin-left: 15px;
  font: 30px "Fraunces";
}

#regtext {
  margin-left: 25px;
  font: 20px "Fraunces";
}