html {
  height: 100%;
  /*width: 100%;*/
  margin-left: 200px;
}
body {
  /*width: 90%;*/
  background: #fdf2ff;
}

nav {
  width: 190;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #f8e1fe;
  overflow-x: hidden;
  padding: 8px 0;
}

h2 {
  font: 25px "Kosugi Maru", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif, serif;
}

p {
  font: lighter 15px "Kosugi Maru", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif, serif;
}

a {
  text-decoration: none;
  font: bold 20px "Kosugi Maru", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif, serif;
}

a:link {
  color: DarkBlue;
  margin: 10px;
}

a:visited {
  color: purple;
}

a:hover {
  color: #a956a0;
  font-size: 21px;
}

a:active {
  color: blue;
}


header {
  background: rgb(239, 207, 232);
  border-top: groove rgb(255, 128, 192);
  padding: 10px;
  text-align: center;
  font: bold 20px "Kosugi Maru", "Lucida Grande", "Lucida Sans Unicode",         "Lucida Sans", Tahoma, sans-serif, serif;
}

footer {
  margin-top: 20px;
  background: rgb(239, 207, 232);
  border-top: groove rgb(255, 128, 192);
  padding: 10px;
  text-align: center;
  font: 20px "Kosugi Maru", "Lucida Grande", "Lucida Sans Unicode",         "Lucida Sans", Tahoma, sans-serif, serif;
}

table, th, td {
  border: 5px solid #feb4ee;
  border-style: inset;
  border-collapse: collapse;
  font: 20px "Kosugi Maru", "Lucida Grande", "Lucida Sans Unicode",         "Lucida Sans", Tahoma, sans-serif, serif;
}

th {
  background-color: #cd97f2;
}

td {
  background-color: #fcd6ff;
  padding: 10px;
  text-align: center;
}

table {
  margin: auto;
}